{% extends 'page.html' %}
<p><a name="top" class="topLink"></a></p>

{% block title %}Данные{% endblock %}

{% block body %}
    <section class="u-clearfix u-container-align-center u-image op-section-1" id="sec-eae5" data-image-width="1818" data-image-height="606">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-center u-clearfix op-section-2" id="sec-847a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <h1>Все таблицы в базе данных</h1>
            <ul>
              {% for table in tables %}
                <li><a href="data/{{ table[0] }}">{{ table[0] }}</a></li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </section>
{% endblock %}
